<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <%# here means form will take only 8colums(col-8) outof 12 and shift 2
    column from left (offset-2) %>
    <h3>Create a New Listing:</h3>
    <form
      method="POST"
      action="/listings"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data" <%# "multipart/from-data" can parse files to backend %>
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          placeholder="Add a catchy title"
          name="listing[title]"
          id="title"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          class="form-control"
          placeholder="enter description"
          name="listing[description]"
          id="description"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input
          type="file"
          class="form-control"
          name="listing[image]"
          id="image"
          required
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <%# means after medium screen size this row will span to column 4 %>
          <label for="price" class="form-label">Price</label>
          <input
            class="form-control"
            placeholder="1200"
            name="listing[price]"
            id="price"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-3 col-md-8">
          <%# means after medium screen size this row will span to column 8 %>
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            class="form-control"
            placeholder="India"
            name="listing[country]"
            id="country"
            required
          />
          <div class="invalid-feedback">Country should be valid</div>
        </div>

      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          placeholder="Jaipur, Rajasthan"
          name="listing[location]"
          id="location"
          required
        />
        <div class="invalid-feedback">Location should be valid</div>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select name="listing[category]" id="category" class="form-select" required>
          <option value="">Select Category</option>
          <option value="trending">Trending</option>
          <option value="rooms">Rooms</option>
          <option value="iconic-cities">Iconic Cities</option>
          <option value="mountains">Mountains</option>
          <option value="castles">Castles</option>
          <option value="pools">Amazing Pools</option>
          <option value="camping">Camping</option>
          <option value="farms">Farms</option>
          <option value="arctic">Arctic</option>
          <option value="dome">Dome</option>
          <option value="boats">Boats</option>
          <option value="islands">Islands</option>
        </select>
      </div>

      <button class="btn btn-dark add-button mb-3">Add</button>
    </form>
  </div>
</div>
